*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top:var(--scroll-padding , 152px);
}

body{ 
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    overflow-x: hidden;
    background-color: #080B2A;
}

:root{
    --background-color: #080B2A;
    --color: #15BFFD;
    --font-family: Inter;
    --light-blue:#15BFFD;
    --font-inner-text:Poppins ;
    --header-font:Clash Display;
    --Regular-clash-font: Clash Display Regular;
    --border-color: #15BFFD;
}

@font-face {
    font-family: Clash Display;
    src: url(font/ClashDisplay/ClashDisplay-Semibold.otf);
}
@font-face {
    font-family: Clash Display Regular;
    src: url(font/ClashDisplay/ClashDisplay-Light.otf);
}

@font-face {
    font-family: Poppins;
    src: url(font/poppins/Poppins-Light.otf);
}

@font-face {
    font-family:Inter;
    src: url(font/Inter/Inter-Regular.otf);
}
.wrapper span{
    position: fixed;
    animation: animate-img 2s linear infinite;
}

.wrapper span:nth-child(1){
    left: 60px;
    animation-delay: 0.6s;
    top: 5%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

p{
    font-family: var(--font-inner-text);
}

button{
    font-family: var(--font-inner-text);
}

.section-1{
    position: relative;
    width: 100%;
    height: 100%;
    background:#080B2A;
    margin-top: 7rem;
}

.section-1::before{
    content: ' ';
    background-color: #2A3E84;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(150px);
}

.section-1::after{
    content: ' ';
    background-color: #2A3E84;
    position: absolute;
    right: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(150px);
    top: 0;
}

/* HEADER SECTION */

header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 9;
    margin-inline: auto;
    z-index: 10000;
    /* border: 1px solid #fff; */
}


.sticky-header{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    flex-shrink: 1;
    max-width: 1300px;
    height: 100%;
}

header.sticky{
    position: sticky;
    padding: 5px 100px;
    width: 100%;
}

#navbar {
    background-color: transparent; /* Initial background color */
    transition: background-color 0.3s ease; /* Transition effect */
}


.nav-logo{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 1em;
}

.nav-logo p{
    font-size: 1.5rem;
    font-weight: 900;
}

.nav-logo span{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color);
}

nav{

    display: flex;
    align-items: center;

}

nav ul{
    display: flex;
    align-items: center;
    gap: 3em;
}

nav ul li a{
    font-family: var(--font-inner-text);
    font-weight: 300;
    font-size: 19.2px;
    position: relative;
}



nav ul li .active::after{
    content: ' ';
    background-image: url(images/Vector\ 31.png);
    object-fit: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 0;
    height:100%;
    position: absolute;
    border-radius: 30px;
    left: -50px;
    bottom: -25px;
    transition: 0.2s ease-in;
    }
    
   

    nav ul li .active::after{
        width: 200px;
        transform-origin: left;
    }

    nav ul li a:hover{
     color: var(--color);
    }

.search-img:hover{
cursor: pointer;
}

.search-container{
    display: flex;
    align-items: center;
    gap: 1em;
}

.input-container{
    display: flex;
    align-items: center;
    position: relative;
}

.input-container {
    display: none;
    transition: transform 0.5s ease-in-out; /* Add a smooth transition */
    transform: translateX(100%); /* Start off-screen to the right */
}

.input-container.show {
    display: flex; /* Show the container */
    transform: translateX(0%); /* Move in from the right */
}

#input-container{
    position: absolute;
    top: 1%;
   left: -200px;
}

#search{
    padding: 1.2rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: var(--font-inner-text);
    border-radius: 30px;
    font-size: 1rem;
}

#search_input{
    padding: 1.3rem;
    background-color:transparent;
    border: 1px solid var(--color);
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
}
.search-container-img{
    position: absolute;
    right: 0;
    padding: .9rem;   
}

 .cancel-icon{
    color: #fff;
    font-size: 1.4rem;
}

.cancel-icon:hover{
    cursor: pointer;
    color: var(--color);
}

.search-container-img:hover{

    cursor: pointer;
 
}


.connect-btn{
    position: relative;
    border: 1px solid #fff;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: var(--color);
    /* border: 2px solid; */
    position: relative;
  }
  .loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
  }
  @keyframes l6 {
      100% {inset:0}
  }

  .connected{
    display: flex;
    align-items: center;
    gap: .5em;
  }

  .connected-2{
        display: flex;
    align-items: center;
    gap: .5em;
  }

.search{
    padding: 1rem;
    border: 1px solid #fff;
    background-color: transparent
    ;
    color: #fff;
    font-family: var(--font-inner-text);
    border-radius: 30px
}

.marketplace{
    display: flex;
    align-items: center;
    gap: .7em;
}

.marketplace:hover{
    color: var(--color);
}

.marketplace p{
    color: #ffff;
    font-family: var(--font-inner-text);
    background-color: var(--light-blue);
    border-radius: 3px;
    padding: .3rem .5rem;
    font-size: .8rem;

}

.download-btn:hover{
    cursor: pointer;
}

/* SHARE CONTAINER */

.show-share{
    display: block;
}
.nav-btns{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.nav-btns .save-btn:hover{
    color: var(--background-color);
}

.nav-btns button{
    padding: .7rem 1rem;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid var(--light-blue);
    color: var(--color);
    font-size: 1.3rem;
    transition: all 0.3s ease-in;
}

.nav-btns button:hover{
    cursor: pointer;
    background-color: var(--light-blue);
    color: #fff;
}

.header-hamburger-menu {
    display: none;
}

.header-hamburger-menu i{
    font-size: 2rem;
    color: #fff;
    margin-right: 2rem;
    transition: 0.3s ease-in;
 
}

.header-hamburger-menu i:hover{
    cursor: pointer;
    color: var(--color);
}

/* HAMBURGER LINK CONTAINER */
    .hamburger-link-container{
       background-color: black;
       width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 9999999;
        display: none;
        transition:all 0.3s ease; /* Smooth transition for left movement */
        overflow-y: scroll;
    }


    .hamburger-link-content .save-btn{
    padding: 1.2rem 1rem;
    background-color: transparent;
    border-radius: 35px;
    border: 1px solid var(--light-blue);
    color: var(--color);
    font-size: 1.7rem;
    transition: all 0.3s ease-in;
    z-index: 9999;
    width: fit-content;
    }

    .hamburger-link-content .save-btn:hover{
    cursor: pointer;
    background-color: var(--light-blue);
    color: #000000;
}


.hamburger-link-content{
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2em;
    padding: 2rem;
}

.hamburger-link-content .hamburger-links{
    display:flex;
    flex-direction: column;
    justify-content: left;
}

.hamburger-links li{
    margin: 2rem 0;
}

.hamburger-links li a{
    font-size: 2rem;
    width: fit-content;
}
.hamburger-links li a:hover{
    color: var(--color);
}

.hamburger-link-content .search-img{
    width: 40px;
}

#cancelBtn{
    position: fixed;
    bottom: 10%;
    right: 20px;
}

#cancelBtn:hover{
    cursor: pointer;

}



/* HEADER MEDIA QUERY */
@media (max-width:1070px) {
    .nav-btns{
        display: none;
    }

    nav{
        display: none;
    }

    .header-hamburger-menu{
        display:block;
    }

    .nav-logo{
        gap: .3em;
    }
}

.hero-text-container{
    /* border: 1px solid #fff; */
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}


/* HERO SECTION */
.hero-section{
    max-width:100%;
    padding: 0 7rem;
    height: 100%;
    position: relative;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.hero-header{
    color: #fff;
    line-height: .5;
    /* border: 1px solid #fff; */
    max-width: 400px;
    position: relative;
}

.shock-img{
    /* border: 1px solid blue; */
    max-width: 400px;
}

.shock-img img{
  text-align: center;
    width:100%;
    margin-top: 2rem;
    place-content: left;
    justify-self: left;
    /* border: 1px solid #fff; */
    margin-bottom: 1rem;
}

.hero-header > h1,span{
    font-size: 4rem;

}

.hero-header h1{
    font-family: var(--header-font);
}

.hero-header span{
    font-weight: 100;
    font-family: var(--Regular-clash-font);
}

.Super span{
    font-family: var(--header-font);
}

.Super span:nth-child(1){
    animation: changeColor 1s infinite alternate;
    /* color: var(--color); */
}

@keyframes changeColor {
    0%{
        color: #fff;
    }

    80%{
        color: var(--color);
    }

    100%{
        color: #fff;
    }
}
.Super span:nth-child(2){
    animation: changeColor 1.1s infinite alternate;
    /* color: var(--color); */
}

@keyframes changeColor {
    0%{
        color: #fff;
    }

    80%{
        color: var(--color);
    }

    100%{
        color: #fff;
    }
}
.Super span:nth-child(3){
    animation: changeColor 1.2s infinite alternate;
    /* color: var(--color); */
}

@keyframes changeColor {
    0%{
        color: #fff;
    }

    80%{
        color: var(--color);
    }

    100%{
        color: #fff;
    }
}
.Super span:nth-child(4){
    animation: changeColor 1.3s infinite alternate;
    /* color: var(--color); */
}

@keyframes changeColor {
    0%{
        color: #fff;
    }

    80%{
        color: var(--color);
    }

    100%{
        color: #fff;
    }
}
.Super span:nth-child(5){
    animation: changeColor 1.4s infinite alternate;
    /* color: var(--color); */
}

@keyframes changeColor {
    0%{
        color: #fff;
    }

    80%{
        color: var(--color);
    }

    100%{
        color: #fff;
    }
}
.Super span:nth-child(6){
    animation: changeColor 1.5s infinite alternate;
    /* color: var(--color); */
}

@keyframes changeColor {
    0%{
        color: #fff;
    }

    80%{
        color: var(--color);
    }

    100%{
        color: #fff;
    }
}
.Super span:nth-child(7){
    animation: changeColor 1.6s infinite alternate;
    /* color: var(--color); */
}

@keyframes changeColor {
    0%{
        color: #fff;
    }

    80%{
        color: var(--color);
    }

    100%{
        color: #fff;
    }
}
.Super span:nth-child(8){
    animation: changeColor 1.7s infinite alternate;
    /* color: var(--color); */
}

@keyframes changeColor {
    0%{
        color: #fff;
    }

    80%{
        color: var(--color);
    }

    100%{
        color: #fff;
    }
}

.sub-head{
    color: #fff;
   margin-top: 1rem;
}

.sub-heading-btns{
    display: flex;
    gap: 1em;
    margin-bottom: 1rem;
}

.sub-heading-btns button{
    color: #fff;
    background-color: var(--light-blue);
    padding: .7rem 1rem;
    border-radius: 30px;
    border: 1px solid var(--light-blue);
    font-size: 1rem;
    transition: all 0.3s ease-in;
}

.sub-heading-btns button:first-child:hover{
    background-color:transparent;
    color: #fff;
    cursor: pointer;
}

.sub-heading-btns button:last-child{
    background-color: transparent;
    border: none;
    color: var(--color);
    display: inline-flex;
    gap: 1em;
    padding: .7rem 1.3rem;
    align-items: center;

}

.sub-heading-btns button:last-child:hover{
    cursor: pointer;
    /* color: #fff; */
}

.sub-heading-btns button:last-child:hover img{
    transform: translateX(10%)rotate(-12deg);
    transition: 0.2s ease-in-out;
}

.last-search{
    color: #fff;
    font-family: var(--font-inner-text);
}

.searched-content{
    max-width: 400px;
    display: block;
}

.search-btn{
    margin: .5rem;
    padding: .2rem 1rem;
    border-radius: 30px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.2s ease-in;
    font-size: 1rem;
}

.search-btn:hover{
    background-color: var(--light-blue);
    cursor: pointer;
    border: 1px solid var(--light-blue);
}

.btn-active{
    background-color: var(--light-blue);
    border: none;
}

.hero-images{
    position: relative;
}

.hero-image-container{
    position: relative;
    width: 50%;
    height: 100%;
    margin-top: 4rem;
}

.hero-img{
    position: relative;
    width: 330px;
    

}

.hero-img-text{
    position: absolute;
    top: 0;
    padding:2rem;
    z-index: 9999;
}

.hero-img-card{
  width: fit-content;
  position: relative;
  color: #fff;
  position: absolute;

}

/* .hero-images .wavy{
    position: relative;
    z-index: ;
    filter: blur(3px);
} */


.first-hero-img-card{
    transform-style: preserve-3d;
    transition: transform 0.5s; /* Smooth transition when flipping */
    perspective: 1000px;
    animation: floatCard 5s linear infinite alternate; 
    transition: 0.3s ease-in;
}


@keyframes floatCard {
    0% {
      transform: translateX(0%);
    }
    40% {
      transform: translateY(5%);
    }

    80%{
        transform: translateX(-1%);
        transform: rotate(3deg);
    }
  }

.img-eth{
    display: flex;
    align-items: center;
    gap: 1em;
}

.img-eth p{
    color: var(--color);
    font-size: 1.1rem;
    font-weight: 900;
}


.hero-img-text {
   line-height: .1;
}


.hero-img-text p{
    font-size: 1.2rem;
    font-weight: 900;
}

.image-card-container{
    width: 100%;
    height: 250px;
    position: absolute;
    top: 25%;
}

.image-card-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;

}

.nft-avatar-content{
    padding:0 2rem;
    position: absolute;
    bottom: 0;
}

.nft-avatar-name{
    line-height: .3;
    display: flex;
    gap: 1em;
    z-index: 9;
    position: relative;
}

.nft-avatar-content h5,.nft-avatar-name{
    margin: 0;
}

.nft-avatar-content h5{
    font-size: 1rem;
}

.nft-avatar-name{
    margin-top: .6rem;
}

.nft-avatar-name p{
    color: #789EAC;
}

.second-hero-img-card{
    right: 4%;
    margin-top: 3.5rem;
    transform: rotate(12deg);

}


.second-hero-img-card::before{
    content: "";
    background-image: url(images/Group\ 1.png);
    width: 100px;
    height: 100px;
    position: absolute;
    object-fit: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    top: -25%;
    left: 25%;
    z-index: 9;
}

.second-hero-img-card .image-2{
    object-fit: contain;
    position: relative;
    z-index: 9;
}

.shock-img {
    filter: drop-shadow(15px 5px 5px var(--color));
    animation: neon-blink 1s infinite ;
  }

  @keyframes neon-blink {
    from {
        filter: drop-shadow(15px 5px 5px var(--color));
    }
    to {
        filter: none;
    }
  }

  /* HERO CONTAINER MEDIA QUERIES */
  @media(max-width:1245px){
  
  .hero-section{
    overflow: hidden;
        width: 100%;
         max-width:100%;
    padding: 0;
    }
    header{
        padding: 0 2rem;
    }

    
  }

  @media (max-width:1111px) {

    .first-hero-img-card:hover{
        z-index: 999;
    }

  }

  @media (max-width:990px) {
  

    .hero-section{
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
   
}

.hero-text-container{
    width: 100%;
}

.hero-image-container{
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
}

.hero-header > h1,span{
    font-size: 3rem;
    line-height: .2;
}

.hero-header{
    line-height:1;
}

.shock-img img{
      margin-top: 2rem;
      margin-bottom: 1rem;
  }

  }

  
  @media (max-width:540px){
    .sub-heading-btns{
        display: flex;
        gap: 1em;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .first-hero-img-card{
        z-index: 999;
    }

    body{
        overflow-x: hidden;
    }
    
  }

  @media (max-width:321px) {
    .hero-section .hero-text-container .hero-header h1.Super{
        font-size: .5rem;

    }

    .sub-heading-btns button{
        font-size: .9rem;
    }
    
    .sub-heading-btns button:last-child{
        align-items: center;
        filter: drop-shadow(9px 2px 2px #000000);
    }

    header{
        padding:1rem;
    }

    .hero-header > h1,span{
        font-size: 3rem;
        line-height: 1;
    }
    
  }

  .section-2{
    /* border: 1px solid #fff; */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid rgb(0, 0, 0); */
    margin-top: 2rem;
    background:rgba(255, 255, 255, 0.016);
    box-shadow: 0 25px 45px rgba(0,0,0,.1);
   backdrop-filter: blur(15px);
   z-index: 999;
   padding: 1rem 0;
  }

  .section-2-content{
    position: relative;
    /* border: 1px solid #fff; */
    max-width: 1200px;
    height: 100%;
    gap: 15em;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
   
  }

  .section-2 .wavy-round-img{
    width: 300px;
    animation: Rotate 3000ms linear infinite;
    filter: blur(10px);
}

  .section-2::before{
    content: ' ';
    background-color: #2A3E84;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(150px);
    bottom: 0;
}

.section-2::after{
    content: ' ';
    background-color: #2A3E84;
    position: absolute;
    right: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(150px);
    top: 0;
}

  .about-us-content{
    display: flex;
  }

.about-us-container{
    z-index: 999;

    color: #fff;
    font-family: var(--header-font);
    display: flex;
    flex-direction: column;

}

.about-us-container h2{
    text-align: left;
    font-size: 2rem;
  
}

.about-us-container{
    right: 0;
}


.about-us-btn{
    width: 150px;
    padding: .7rem 1rem;
    border-radius: 30px;
    background-color: var(--light-blue);
    color: #fff;
    transition: all 0.3s ease-in;
    border: 1px solid var(--light-blue);
}

.about-us-btn:hover{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--light-blue);
}

.about-us-container p{
    font-family: var(--font-inner-text);
    width: 60ch;
    font-weight: 100;
}

@keyframes Rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* SECTION 2 MEDIA QUERY */
@media (max-width:897px) {
   
.section-2-content img{
    position: absolute;
    left: 25%;
}
}

@media (max-width:826px) {
   
   .about-us-container{
    text-align: center;
    align-items: center;
   }

   .about-us-container h2{
    text-align: center;
   }
    }
    @media (max-width:513px){
        .about-us-container p{
            width: 50ch;
        }
    }

    @media (max-width:435px){
        .about-us-container p{
            width: 40ch;
        }
    }

    @media (max-width:393px){
        .about-us-container p{
            width: 30ch;
        }

        .section-2-content .wavy-round-img{
            width: 230px;
            position: absolute;
            left: 15%;
        }
    }

    @media (max-width:300px){
        .about-us-container p{
            width: 25ch;
        }

        .section-2-content .wavy-round-img{
            width: 200px;
            position: absolute;
            left: 10%;
        }
    }

    @media (max-width:249px){
        .about-us-container p{
            width: 20ch;
        }

        .section-2-content .wavy-round-img{
            width: 200px;
            position: absolute;
            left: 10%;
        }
    }

/* @media (max-width:603px) {
    .about-us-container p{
        width:50ch;
    }
}

@media (max-width:590px) {
    .about-us-container p{
        width:40ch;
    }
    .section-2-container img{
        width: 230px;
        right: 10%;
        top: 10%;
  
    } 
}

@media (max-width:552px) {
    .about-us-container p{
        width:30ch;
    }
} */


.section-3{
    max-width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    margin: 7rem 0;
}

.section-3-header{
    font-family: var(--header-font);
    text-align: center;
    margin-bottom: 3rem;
}

.section-3-header h1{
    font-size: 2rem;
}
.section-3-container{
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-inline: auto;
}

.section-3-container::before{
    content: ' ';
    background-color: #2A3E84;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(150px);
    bottom: 0;
}

.section-3-container::after{
    content: ' ';
    background-color: #2A3E84;
    position: absolute;
    right: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(150px);
    top: 0;
    z-index: -1
    ;
}

.section-3-card{
    width: fit-content;
    height: min-content;
    position: relative;
    /* border: 1px solid #fff; */
}

.bid-container{
    padding: 1rem;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top:0 ;
}

.bid-image img{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 20%;
    border-left: 3px solid #2A3E84;
    border-right: 3px solid #2A3E84;
}

.curr-bid{
    display: flex;
    flex-direction: column;
    line-height: .2;
}

.bid-price{
    display: flex;
    align-items: center;
    gap: 1em;
}

.bid-btn{
    width: 150px;
    padding: .7rem 1rem;
    border-radius: 30px;
    background-color: var(--light-blue);
    color: #fff;
    transition: all 0.3s ease-in;
    border: 1px solid var(--light-blue);
    font-size: 1rem;
}

.bid-btn:hover{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--light-blue);
}

.bid-img{
    width: 400px;
}

.bid-content-container{
    margin-top: 1rem;
    padding: 1rem;
    position: absolute;
    bottom: 8%;
        width: 100%;
    line-height: .4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bid-name{
    display: flex;
    flex-direction: column;
}

.bid-avatar{
    display: flex;
    align-items: center;
    gap: 1em;
}

.bid-avatar p{
    font-size: .9rem;
    color: #789EAC;
}

.bid-image-avatars{  
    position: relative;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bid-image-avatars .avatar-1{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);

}

.bid-image-avatars .avatar-2{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);

}

.bid-image-avatars .avatar-3{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);

}

.bid-image-avatars .avatar-4{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);

}

/* SECTION 3 MEDIA QUERY */

@media (max-width:400px) {
    .bid-img{
        max-width: 300px;
    }

    .bid-image img{
        height: 200px;
        top: 23%;
    }
}

@media (max-width:318px) {
    .bid-img{
        max-width: 220px;
    }

    .bid-image img{
        height: 130px;
                top: 30%;
    }
}


.section-4{
    /* border: 1px solid #fff; */
    max-width: 100%;
    height: 100%;
    position: relative;
}

.section-4-header{
    color: #fff;
    font-family: var(--header-font);
    text-align: center;
}

.section-4-header h1{
    font-size: 2rem;
}

.section-4-container{
    max-width: 1300px;
    min-height:1400px;
    margin-inline: auto;
    display: flex;
    gap: 3em 0;
    align-items: safe;
    position: relative;
    justify-content: space-between;
}
.section-4-container-screen{
    display: none;
}


.section-4-first-container,.section-4-second-container{
    width: 50%;
    height: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 10em 0;
    margin-inline: auto;
}

.section-4-container .section-4-first-container{
    position: absolute;
    left: 1.4%;
    top: 0;
}

@media(max-width:1243px){
    .section-4-container .section-4-first-container{
        left: 1.605%;
    }

}

@media(max-width:1120px){
    .section-4-container .section-4-first-container{
        left: 1.7%;
    }

}

@media(max-width:1080px){
    .section-4-container .section-4-first-container{
        left: 1.8%;
    }

}

@media(max-width:1037px){
    .section-4-container .section-4-first-container{
        left: 1.95%;
    }

}

@media(max-width:938px){
    .section-4-container .section-4-first-container{
        left: 2.2%;
    }

}

@media(max-width:887px){
    .section-4-container .section-4-first-container{
        left: 2.5%;
    }

}

.section-4-container .section-4-second-container{
    right: 0.9%;
    top: 0;
    position: absolute;
}

@media(max-width:1242px){
    .section-4-container .section-4-second-container{
        right: 1.1%;
    }

}

@media(max-width:1037px){
    .section-4-container .section-4-second-container{
        right: 1.1%;
    }
}

@media(max-width:859px){
    .section-4-container{
        display: none;
    }
    .section-4-container-screen{
        display: block;
    }
}


.section-4-container::before{
    content: ' ';
    background-color: #2A3E84;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(150px);
    bottom: -100%;
}



.section-4-second-container{
    margin-top: 9rem;
}


.roadmaps-card{
    position: relative;
    border: 1px solid #15BFFD;
    width: 100%;
    height: 300px;
    color: #fff;
    font-family: var(--header-font);
    border-radius: 20px;
}

.roadmaps-card::after{
    content: " ";
    position: absolute;
    background-image: url(images/Vector\ 35.png);
    width: 250px;
    height:350px;
    object-fit: contain;
    background-repeat: no-repeat;
    object-position: center;
    background-size: 100%;
    top: -8%;
    right: -4%;
}

.roadmap-header{
    text-align: center;
    font-size: 1rem;
}

.roadmap-content{
    padding:0 1.5rem ;
}

.roadmap-content h2{
    font-size: 1.9rem;
}
.roadmap-content p{
    font-weight: 100;
    font-family: var(--Regular-clash-font);
    letter-spacing: 1px;
}

.roadmaps-arrow{
    display: flex;
    align-items:center;
/* border: 1px solid #fff; */
}

.line-img{
    margin-left: 1rem;
    object-fit: contain;
}

.round{
    width: 30px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--light-blue);
}

.line{
    width:4px;
    height: 70px;
    background-color: var(--light-blue);
    border-radius: 7px;
}

.round-line{
    min-height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-flex{
    /* border: 1px solid #fff; */
   margin-top: 3rem;
    display: flex;
    align-items:flex-start;
}

.arrow-flex-2{
    display: flex;
    align-items: center;
    gap: 0;
    margin: 0;
}

.arrow-line-flex{
    display: flex;
    align-items: flex-start;
}

.roadmaps-card-2{
    position: relative;
    border: 1px solid #15BFFD;
    width: 100%;
    height: 300px;
    color: #fff;
    font-family: var(--header-font);
    border-radius: 20px;
}

.roadmaps-card-2::before{
    content: " ";
    position: absolute;
    background-image: url(images/Vector\ 34.png);
    width: 250px;
    height:350px;
    object-fit: contain;
    background-repeat: no-repeat;
    object-position: center;
    background-size: 100%;
    top: -8%;
    left: -4%;
}

.line-img-2{
    margin-right: 1rem;
    object-fit: contain;
}


.round-line-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.round-2{
    width: 30px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--light-blue);
}

.line-2{
    width:4px;
    height: 430px;
    background-color: var(--light-blue);
    border-radius: 7px; 
}

.round-line-flex-2{
    display: flex;
    align-items: flex-start;
    margin-bottom: -25.5rem;
}

.first-last-line{
    height: 100px;
}

.second-last-line{
    margin-bottom: 0;
    /* border: 1px solid #fff; */
}

/* ROADMAP FOR MOBILE SCREEN */

.section-4-roadmap-small-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 1.8em; */
    justify-content: center;
}

.road-map-small-content{
    position: relative;
    border: 1px solid #15BFFD;
    max-width: 400px;
    height: 250px;
    color: #fff;
    font-family: var(--header-font);
    border-radius: 20px;
    text-align: center;
    position: relative;
    border: 1px solid transparent; /* Ensure the border is transparent */
    border-image: linear-gradient(to right, var(--color), #1e2069); /* Set linear gradient for the border */
    border-image-slice: 1; /* Ensure the gradient covers the entire border */
}

.section-4-container-screen{
    max-width: 830px;
    min-height: 100%;
    /* border: 1px solid #fff; */
    margin-inline: auto;
    padding: 0 1rem;
}

.roadmap-small-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
      height: 100%;
}

.arrow-left-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: rotate(90deg); */
    /* margin-top: 2.5rem; */
    /* border: 1px solid #fff; */
    min-height: 100%;
}

.arrow-left-small img{
    width: 70px;
    object-fit: contain;
}

.round-small{
    background-color: var(--border-color);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    position: relative;

}

.roadmap-small-content{
    padding:0 1rem;
}

.section-5{
    max-width: 100%;
    height: 100%;
    /* border: 1px solid #fff; */
    position: relative;
    margin-top: 10rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-5-container{
    /* padding: 0 2rem; */
    /* border: 3px solid #fff; */
    display: flex;
    justify-content: space-between;
    gap: 1em;
    width:100%;
    height: 100%;
    margin-inline: auto;

    margin-top: 4rem;
    color: #fff;
    animation: section-5-loop 20s linear infinite ;
}


@keyframes section-5-loop {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }
}

.section-5-fade{
    position: absolute;
    background: linear-gradient(90deg, #080B2A,transparent 30%,transparent 70%, #080B2A);
    inset: 0;
    pointer-events: none;
}

.section-5-header{
    color: #fff;
    font-family: var(--header-font);
    text-align: center;
}

.section-5-header h1{
    font-size: 2rem;
}


.section-5-container-cards{
    padding: 1rem;
    position: relative;
    min-width: 450px;
    height: 100%;
    border:1px solid var(--border-color) ;
    border-radius: 15px;
}




.name-creation{
    display: flex;
    flex-direction: column;
    line-height: .2;
    margin-bottom: 1rem;
}
.name-creation p:first-child{
    color: grey;
}

.name-creation p:last-child{
    color: var(--color);
    font-family: var(--header-font);
}

.name-img{
    display: flex;
    align-items: center;
    gap: 1em;
}

.nft-image img{
    border-radius: 15px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-size: 100%;
}

.collection-creation{
    font-family: var(--header-font);
    display: flex;
    flex-direction: column;
    line-height: .2;
    margin-top: 1rem;
}

.collection-creation h5{
    margin: 0;
    font-size: 1.7rem;
}

.collection-creation p{
    color: grey;
}

.create-container p:last-child{
    color: var(--color);
    font-family: var(--header-font);
    font-weight: 900;
}

.create-container{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    line-height: .2;
    gap: .5em;
}

.create-container p{
    font-size: 1rem;
    font-family: var(--Regular-clash-font);
}

.create-container span{
    font-size: 1rem;
    font-family: var(--Regular-clash-font);
    color: var(--light-blue);
}

.section-5-btn{
    margin-top: 4rem;
    padding: .7rem 1rem;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid var(--light-blue);
    color: var(--color);
    font-size: 1.3rem;
    transition: all 0.3s ease-in;
}

.section-5-btn:hover{
    cursor: pointer;
    background-color: var(--light-blue);
    color: #fff;
}
/* SECTION 5 MEDIA QUERY */
@media(max-width:460px){
    .section-5-container{
        animation: section-5-loop step-start linear infinite ;
    }
    .section-5-container-cards{
        min-width: 350px;
    }

    .nft-image img{
        border-radius: 15px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        background-size: 100%;
    }
    @keyframes section-5-loop {
        0%{
            transform: translateX(0);
        }
    
        100%{
            transform: translateX(-100%);
        }
    }

}

.section-6{
    max-width: 100%;
    height: 100%;
    /* border: 1px solid #fff; */
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width:450px){
    .section-6{
        padding: 0 1rem;
        margin-inline: auto;
    }

}

.section-6-header{
    text-align: center;
    font-family: var(--header-font);
}

.section-6-header h1{
    font-size: 2.5rem;
}

.section-6-container{
    min-height: 100%;
    max-width: 1300px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-6-container-card{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-top:4rem;
}


.section-6-container-card .main-card{
    width: 400px;
}

.section-6-overall-flex{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding:0 2rem;
}

.section-6-avatar-flex{
    display: flex;
    gap: 1em;
    align-items: center;
}

.section-6-name-eth{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    line-height: .2;
    font-family: var(--header-font);
}

.section-6-eth{
    display: flex;
    gap: 1em;
}

.section-6-eth p{
    font-family: var(--header-font);
    font-weight: 900;
}
.section-6-eth img{
    width: 15px;
    object-fit: contain;
}

.section-6-follow{
    color: var(--color);
    text-decoration: underline;
    font-size: 1.3rem;
    transition: 0.2s ease-in;
}

.section-6-follow:hover{
    cursor: pointer;
    color: #fff;
}


.section-6-btn{
    margin-top: 3rem;
    padding: .7rem 1rem;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid var(--light-blue);
    color: var(--color);
    font-size: 1.3rem;
    transition: all 0.3s ease-in;
}

.section-6-btn:hover{
    cursor: pointer;
    background-color: var(--light-blue);
    color: #fff;
}

/* SECTION 6 MEDIA QUERY */

@media(max-width:500px){
    .section-6-container-card .main-card{
        width: 330px;
    }

    .section-6-overall-flex{
        bottom:7px;
        padding:0 1.2rem;
    }

    .section-6-avatar img{
        width: 35px;
    }

    .section-6-name-eth{
       line-height: 0;
    }

    .section-6-follow{
        font-size: 1rem;
    }
}

@media(max-width:321px){
    .section-6-container{
        padding: 0;
        margin: 0;
        margin-inline: auto;
    }
    .section-6-container-card .main-card{
        width: 290px;
    }
}

.footer-section{
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    position: relative; 
}

.footer-container{
    z-index: 999;
    width: 100%;
    height: 100%;
    margin-inline: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2rem ;
    gap: 10em;
    
}

.logo-img{
    color: #fff;
    display: flex;
    align-items: center;
    gap: .5em;
}

.logo-text p > span{
    font-size: 1.4rem;
    color: var(--color);
    font-weight: 900;
    font-family: var(--font-inner-text);
}

.logo-text{
    font-size: 1.4rem;
}

.footer-logo-text{
    font-family: var(--Regular-clash-font);
    line-height:2.2 ;
}

.footer-logo-link{
    display: flex;
    gap: 1em;
}

.footer-logo-link i{
    font-size: 1.5rem;
    color: var(--color);
    transition: 0.3s ease-in;
}

.footer-logo-link i:hover{
    color: #fff;
    cursor: pointer;
}

.footer-logo-container{
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
    width: fit-content;
}

.footer-content h5{
    font-size: 1.2rem;
    font-weight: 900;
    font-family: var(--Regular-clash-font);
}

.footer-content-link p{
    font-family: var(--Regular-clash-font);
    transition: all 0.2s ease-in;
}
.footer-content-link p:hover{
    color: var(--color);
    cursor: pointer;
}

.footer-copyright{
    max-width: 100%;
    color: #fff;
    font-size: .8rem;
    font-family: var(--Regular-clash-font);
    z-index: 99999999;
}

.footer-copyright span{
    font-size: .8rem;
    color: var(--color);
}

.footer-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin-inline: auto;
    padding: 2rem 0;
}

.inner-footer{
    width: 100%;
    /* border: 1px solid var(--border-color); */
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(26, 23, 76, 0.537);
    box-shadow: 0 25px 45px rgba(0,0,0,.2);
    backdrop-filter: blur(15px);

}

/* FOOTER CONTAINER */

@media(max-width:934px){
   
.footer-container{
    gap: 8em; 
}
}

@media(max-width:834px){
   
    .footer-container{
        gap: 6em; 
    }
    }

    @media(max-width:734px){
   
        .footer-container{
            gap: 4em; 
        }
        
        .footer-logo-link {
            gap: 2em;
        }

        .footer-logo-link i{
            font-size: 2.4rem;
        }
        }
        @media(max-width:634px){
   
            .footer-container{
                gap: 2em; 
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .footer-logo-container{
                align-items: center;
            }
            .footer-content{
                text-align:center;
            }

            .footer-copyright{
                margin-inline: auto;
            }

            .footer-logo-text{
                text-align: center;
            }

            }

.star{
    position: fixed;
    bottom: 0;
    /* left: 0; */
    background-image: url(images/Star\ 4.png);
    width:20px;
    height:20px;
  z-index: -1;
    animation: star 15s linear infinite;
}

@keyframes star {
0%{
    transform: translateY(0) rotate(0deg);
}

100%{
    transform: translateY(-100vh) rotate(360deg);
}
}
